<form method="post" action="/login">
Ingrese mail:
<input type="mail" name="mail" size="50" value="{{mail}}">
<br>
Ingrese clase:
<input type="password" name="clave" size="20">
<br>
<input type="submit" value="Ingresar">
</form>